name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
    paths:
      - 'microservices/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'microservices/**'

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./microservices/fastapi/monolith

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install Poetry
      run: |
        pip install poetry

    - name: Install dependencies
      run: |
        poetry install

    - name: Run Tests
      # For now, we just check if the code is syntactically correct
      run: |
        poetry run python -m compileall app/

    - name: Build Docker Image
      run: |
        docker build -t monolith-service-alpine .
